<!doctype html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>دیوار - پنل مدیریت</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/DivarLogo.png"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%- include("./partials/panel.sidebar.ejs") %>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <%- include("./partials/panel.header.ejs") %>
        <!--  Header End -->
        <div class="container-fluid">
            <% if (operation === "home") { %>
                <%- include("./partials/panel.dashboard.ejs") %>
            <% } else if(operation === "create-ad") { %>
                <%- include("./partials/panel.create-ad.ejs") %>
            <% } else if (operation === "show-ads") { %>
                <%- include("./partials/panel.ads.ejs") %>
            <% } %>
        </div>
    </div>
</div>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/assets/js/dashboard.js"></script>
<script type="module" src="/assets/js/map.js"></script>
</body>
</html>