<div class="col-lg-12 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="p-3">
        <% if (slug && slug !== "root") { %> 
            <a href="/ad/create" class="w-100 p-3 d-block bg-light text-dark">
                <i class="fa-solid fa-arrow-right"></i>
                <span>بازگشت به همه دسته‌بندی‌ها</span>
            </a>
            <hr class="hr-divider">
        <% } %>
        <% if(!options || !options?.length) { %>
          <% if(categories && categories?.length) { %>
        <ul>
          <% categories.forEach((category) => { %>
          <li>
            <a href="/ad/create?slug=<%= category.slug %>" class="w-100 p-3 d-block bg-light text-dark">
              <span class="ti ti-<%= category.icon %> nav-small-cap-icon fs-4"></span>
              <span><%= category.name %></span>
            </a>
          </li>
          <% }) %>
        </ul>
        <% } %>
      <% } else { %>
        <!-- Map -->
         <div class="p-2">
          <label for="images">تصاویر آگهی</label>
          <input type="file" name="images" multiple class="form-control">
         </div>
         <div class="p-2">
          <label for="title">عنوان آگهی</label>
          <input type="text" name="title" multiple class="form-control">
         </div>
         <div class="p-2">
          <label for="description">توضیحات آگهی</label>
          <textarea name="description" placeholder="توضیحات آگهی"></textarea>
         </div>
         <div class="p-2">
          <label for="price">قیمت</label>
          <input type="number" name="price" multiple class="form-control" value="0" placeholder="مقدار 0 یعنی قیمت توافقی است.">
         </div>
        <% options.forEach(option => { %>
          <label for="<%= option.key %>"><%= option.title %><%= option.required ? " * " || "" %></label>
          <div class="p-2">
            <% if (option.type === "array") { %>
              <select name="<%= option.key %>" class="form-select">
                <% option.enum.forEach(item => { %>
                  <option value="<%= item %>"><%= item %></option>
                <% }) %>
              </select>
            <% } else { %>
              <input type="text" name="<%= option.key %>" class="form-control" placeholder="<%= option.guide %>">
            <% } %>
          </div>
        <% }) %>
        <div class="p-2">
          <label for="showNumber">نمایش شماره تماس آگهی دهنده</label>
          <input type="checkbox" name="showNumber" value="true"/>
        </div>
        <div class="p-2">
          <label for="showNumber">فعال بودن چت دیوار</label>
          <input type="checkbox" name="isActiveChat" value="true"/>
        </div>
      <% } %>
    </div>
  </div>
</div>