<% for (let i = 0; i < ads.length; i++) { %>
    <% if (i % 3 === 0) { %><div class="main-post"><% } %>
        <a href="/ad/<%= ads[i]._id %>">
            <article>
                <div class="main-post-detail">
                    <h2 class="main-post-title"><%= ads[i].title %></h2>
                    <div class="main-post-price"><%= ads[i].price ? `${ads[i].price} تومان` : "قیمت توافقی" %></div>
                    <div class="main-post-time"><%= moment(ads[i].createdAt).locale("fa").format("jDD jMMMM HH:mm") %> | در <%= ads[i].city || ads[i].province %></div>
                </div>
                <div class="main-post-thumbnail">
                    <img src="<%= ads[i].images ? ads[i].images[0] : "/home/no-image.png" %>" alt="<%= ads[i].title %>">
                </div>
            </article>
        </a>
        <% if (i % 3 === 2) { %></div><% } %>
<% } %>